<header class="fixed top-0 left-0 w-full border-b border-primary z-50 <%= yield(:header_class).presence || "bg-neutral text-primary" %>">
  <nav class="flex items-center h-16 px-8 max-w-xl mx-auto">
    <div class="flex items-center justify-start material-symbols-outlined mt-3">
      <%= link_to yield(:arrow_back).presence || "", :back %> 
    </div>
    <div class="flex-1 text-center font-bold text-2xl mt-3">
      <%= yield(:title).presence || link_to("SokoNote", root_path) %>
    </div>
    <div class="flex items-center justify-end material-symbols-outlined mt-3">
      <%= yield(:density_medium).presence || "" %>
    </div>
  </nav>
</header>
