<div>
  <h1>設定画面</h1>
  <div class= p-2>
    <%= button_to "ログアウトする", destroy_user_session_path, method: :delete, class: "inline-block bg-green text-white px-6 py-2 rounded hover:bg-green-600 focus:outline-none focus:ring-green-400" %>
  </div>
</div>

