/* tailwindcss本体 */
@import "tailwindcss";

/* 以下は本アプリ共通の設定を記述（色・フォントなど） */
@theme {
  /* 以下は配色を記述 */
  --color-primary: #83CC15; /* 明るい緑色 */
  --color-secondary: #6EA016; /* 暗い緑色 */
  --color-accent: #F39800; /* オレンジ */
  --color-neutral: #FCFDF7; /* 背景色 */
  --color-error: #E65540; /* 赤 */

  --color-white: #FDFDFD; /* 白 */
  --color-black: #333333; /* 黒 */
  --color-dark-gray: #818181; /* 濃灰 */
  --color-middle-gray: #B1B1B1; /* 中間灰 */
  --color-light-gray: #DFDFDF; /* 薄灰 */
/* #F9D01F;黄色 */
/*  #E65540;赤 */

  --color-flash-success-bg: #f7fee7;
  --color-flash-success-text: #166534;
  --color-flash-error-bg: #fff1f0;
  --color-flash-error-text: #E65540;
  /* 以下はフォントを記述 */
  --font-sans: "Noto Sans JP";
  --font-money: "Roboto";

}
.field_with_errors {
  display: contents;
}

/* 自分の名前をつけた変数にスタイルを当てる */
@layer components { 
  /* ボタン・ボタン風リンクなどの押下できるcardに適用 */
  .card {
    @apply cursor-pointer shadow-md shadow-black/40 hover:-translate-y-0.5 hover:shadow-lg active:translate-y-1 active:shadow-sm transition-all;
  }
  
  /* 編集・削除を表示させるスワイプ用のcardの外側に適用 */
  .swipe-card {
    @apply relative overflow-hidden rounded-2xl shadow-md;
  }
  
  /* 普段見えている白いカード層（スワイプで左にスライド） */
  .swipe-inner {
    @apply flex items-center justify-end bg-white px-5 min-h-16 transition-all;
  }

  /* 右側に隠れていて、スワイプ時に出てくる編集・削除ボタンエリア */
  .swipe-actions {
    @apply absolute top-0 right-0 bottom-0 flex w-[88px] transition-all z-20 rounded-r-2xl;
  }

/* PCのみ：マウスホバーでswiper-innerを左に、swipe-actionsを右から出す */
  @media (hover: hover) {
    .swipe-card:hover .swipe-inner {
      transform: translateX(-88px);
    }
    .swipe-card:hover .swipe-actions {
      transform: translateX(0px) !important;
    }
  }
}


