<p>いつもSokoNote（ソコノート）をご利用いただきありがとうございます。<br>
パスワード再設定のご依頼を受け付けました。</p>

<p>以下のリンクをクリックして、新しいパスワードの設定を行ってください。</p>

<p>
  <strong>【パスワード再設定ページ】</strong><br>
  <%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>
  ※ボタンがクリックできない場合は、以下のURLをブラウザに貼り付けてください。<br>
  <%= edit_password_url(@resource, reset_password_token: @token) %>
</p>

<hr>

<p>※このリンクの有効期限は<strong>1時間</strong>です。期限を過ぎた場合は、お手数ですが再度お手続きをお願いいたします。</p>

<p>
  なお、本メールに心当たりがない場合は、本メールを無視していただいて構いません。<br>
  このメールを無視していただいても、パスワードが変更されることはありませんのでご安心ください。
</p>

<p>今後ともSokoNoteをよろしくお願いいたします。</p>

<p>
  --------------------------------------------------<br>
  SokoNote 開発チーム<br>
  <%= link_to 'お問い合わせ先', "#" %><br>
  --------------------------------------------------
</p>